<div id="app" class="Edit" style="padding: 10px;">
    <asp:HiddenField ID="hfID" Value="" runat="server"></asp:HiddenField>
    <table width="100%" class="form">
        <tr class="row ">
            <td align="right" width="80">
                <label class="form-label" for="oldPassword">
                    <span class=" c-red">*</span>原密码:
                </label>
            </td>
            <td>
                <input type="password" class="input-text" maxlength="20" autocomplete="off" v-model="oldPassword" />
            </td>
        </tr>
        <tr class="row ">
            <td align="right" width="80">
                <label class="form-label" for="newPassword">
                    <span class=" c-red">*</span>新密码:
                </label>
            </td>
            <td>
                <input type="password" class="input-text" maxlength="20" autocomplete="off" v-model="newPassword" />
            </td>
        </tr>
        <tr class="row ">
            <td align="right" width="80">
                <label class="form-label" for="newPassword2">
                    <span class=" c-red">*</span>再次输入新密码:
                </label>
            </td>
            <td>
                <input type="password" class="input-text" maxlength="20" autocomplete="off" v-model="newPassword2" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a id="EditSubmit" class="btn btn-primary radius" v-on:click="EditSubmit">&nbsp;&nbsp;确认修改&nbsp;&nbsp;</a>
                &nbsp; <a onclick="layers.close(layers.index);" class="btn btn-default radius">&nbsp;&nbsp;取消&nbsp;&nbsp;</a>
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    let that;
    let app = new Vue({
        el: '#app',
        data: {
            oldPassword: '',
            newPassword: '',
            newPassword2: ''
        },
        methods: {
            EditSubmit: function () {
                let that = this;
                if (!that.oldPassword) {
                    layers.Info("原密码不能为空");
                } else if (!that.newPassword) {
                    layers.Info("新密码不能为空")
                } else if (!that.newPassword2) {
                    layers.Info("再次输入密码不能为空")
                } else if (that.newPassword.length < 6) {
                    layers.Info("新密码不能小于6位数")
                } else if (that.newPassword != that.newPassword2) {
                    layers.Info("两次输入的密码不一致")
                } else {
                    $.ajax({
                        type: "post",
                        url: "/User/ModifyPassword",
                        dataType: "json",
                        async: true,
                        data: { oldPassword: that.oldPassword, newPassword: that.newPassword },
                        success: function (e) {
                            if (e.success) {
                                layers.alertOK(e.msg, 5, 'sxs();layers.close();');
                            }
                            else {
                                layers.Info(e.msg);
                            }
                        }
                    });
                }
            },
        }
    });
    function sxs() {
        parent.location.href = "/Index/Login";
    }
</script>


